Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.rgba: rgb

URxvt.borderless:		true
URxvt.font:			xft:FiraCode-Regular:pixelsize=12
URxvt.boldFont: 		xft:FiraCode-Bold:pixelsize=12
!URxvt.italicFont:		xft:...:pixelsize=12
!URxvt.boldItalicfont:		xft:...:pixelsize=12
URxvt.letterSpace:		0
URxvt.lineSpace:		0
URxvt.cursorBlink: 		true
URxvt*termName: 		rxvt

! disable default bindings
URxvt.iso14755: false
URxvt.iso14755_52: false

! loading perl extentions
URxvt.perl-ext-common: resize-font,default,clipboard

! resize-font
URxvt.resize-font.smaller: C-j
URxvt.resize-font.bigger:  C-k

! copy-paste
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy
URxvt.keysym.Shift-Control-V:   perl:clipboard:paste
URxvt.clipboard.autocopy: 	true

URxvt.scrollBar: false
URxvt.matcher.button: 1
URxvt.transparent: true
URxvt.cursorUnderline:  true
URxvt.geometry: 90x30
URxvt.internalBorder: 23
URxvt.fading: 0
URxvt.tintColor: #ffffff
URxvt.shading: 0
URxvt.inheritPixmap: False

!!!! COLORS
URxvt.foreground:  #ebebeb
URxvt.background:  #262c35
URxvt.cursorColor: #d9002f
!
!! Black
URxvt.color0:      #191919
URxvt.color8:      #191919
!!
!! Red
URxvt.color1:      #bf091d
URxvt.color9:      #bf091d
!!
!! Green
URxvt.color2:      #3d9751
URxvt.color10:     #3d9751
!!
!! Yellow
URxvt.color3:      #f6bb34
URxvt.color11:     #f6bb34
!!
!! Blue
URxvt.color4:      #17b2e0
URxvt.color12:     #17b2e0
!!
!! Magenta
URxvt.color5:      #7830b0
URxvt.color13:     #7830b0
!!
!! Cyan
URxvt.color6:      #8bd2ed
URxvt.color14:     #8bd2ed
!!
!! White
URxvt.color7:      #ffffff
URxvt.color15:     #ffffff
!!
!! Bold, Italic, Underline
URxvt.colorBD:     #fbab19
URxvt.colorIT:	   #f6bb34
URxvt.colorUL:	   #bf091d
