! Xft settings
Xft.dpi:				82
Xft.antialias: 			true
Xft.hinting: 			true
Xft.hintstyle: 			hintslight
Xft.rgba:				rgb

xterm*faceName: Monospace
xterm*faceSize: 12

! URxvt settings
*termName:			rxvt-256color
URxvt.depth:			32
URxvt.geometry: 		120x30
URxvt.borderless:		true

*letterSpace:			0
*font:					xft:Fairfax:size=16:style=Medium:antialias=true \
						xft:Font Awesome 5 Free Regular:size=12:style=Regular \
						xft:TerminessTTF Nerd Font:size=12:style=Medium
*boldFont:				xft:Fairfax:size=16:style=Bold
*italicFont:			xft:Fairfax:size=16:style=Italic:antialias=true
*boldItalicFont:		xft:Fairfax:size=16:style=Bold:antialias=true

URxvt.lineSpace:		0
URxvt.cursorBlink: 		true
URxvt.scrollBar: 		false
URxvt.transparent: 		true
URxvt.cursorUnderline:  false
URxvt.internalBorder: 	2

! disable default bindings
URxvt.iso14755:			false
URxvt.iso14755_52:		false

! loading perl extentions
URxvt.perl-ext-common:	resize-font,default,clipboard

! resize-font
URxvt.resize-font.smaller: C-j
URxvt.resize-font.bigger:  C-k

! copy-paste
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy
URxvt.keysym.Shift-Control-V:   perl:clipboard:paste
URxvt.clipboard.autocopy:		true

URxvt.fading: 0
URxvt.tintColor: #ffffff
URxvt.shading: 0
URxvt.inheritPixmap: False


*.foreground:   #020202
*.background:   #e0e7e3
*.cursorColor:  #020202
*.color0:       #404040
*.color8:       #808080
*.color1:       #e34444
*.color9:       #e35f5f
*.color2:       #208c71
*.color10:      #42a690
*.color3:       #8e4200
*.color11:      #db6f02
*.color4:       #000082
*.color12:      #3771a4
*.color5:       #a857a8
*.color13:      #a876a8
*.color6:       #008080
*.color14:      #329999
*.color7:       #c0c0c0
*.color15:      #ffffff


! rofi settings
rofi.modi:			run
rofi.width:			100
rofi.padding:		500
rofi.opacity:		60
rofi.lines:			5
rofi.font:			mono 14
rofi.bw:			0

rofi.color-enabled:	true
! state				bg		fg		bgalt	hlbg	hlfg
rofi.color-normal:	#1c262b,#c2c8d7,#1c262b,#ffea2e,#1c262b
rofi.color-active:	#1c262b,#ffea2e,#1c262b,#fff163,#c2c8d7
rofi.color-urgent:	#1c262b,#ee2b2a,#1c262b,#dc5c60,#c2c8d7
!					bg		border	separator
rofi.color-window:	#801c262b,#c2c8d7,#b3b8c3
