! Xft settings
Xft.dpi:				96
Xft.antialias: 			true
Xft.hinting: 			true
Xft.hintstyle: 			hintslight
Xft.rgba:				rgb

! URxvt settings
URxvt*termName:			rxvt-256color
URxvt.depth:			32
URxvt.geometry: 		120x30
URxvt.borderless:		true

URxvt*font:				xft:Hack:size=12:style=Regular,\
						xft:DejaVu Sans Mono:size=12:style=Medium 
!						xft:Font Awesome 5 Free Regular:size12:style=Regular
URxvt*boldFont:			xft:Hack:bold:size=12:style=Bold
URxvt.italicFont:		xft:Hack:italic:size=12:style=Italic
URxvt.boldItalicFont:	xft:Hack:bold:italic:size=12:style=Bold Italic

URxvt*letterSpace:		0
URxvt.lineSpace:		0
URxvt.cursorBlink: 		true
URxvt.scrollBar: 		false
URxvt.transparent: 		true
URxvt.cursorUnderline:  false
URxvt.internalBorder: 	25

! disable default bindings
URxvt.iso14755:			false
URxvt.iso14755_52:		false

! loading perl extentions
URxvt.perl-ext-common:	resize-font,default,clipboard

! resize-font
URxvt.resize-font.smaller: C-j
URxvt.resize-font.bigger:  C-k

! copy-paste
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy
URxvt.keysym.Shift-Control-V:   perl:clipboard:paste
URxvt.clipboard.autocopy:		true

URxvt.fading: 0
URxvt.tintColor: #ffffff
URxvt.shading: 0
URxvt.inheritPixmap: False

!!!! COLORS
*.foreground:  #c2c8d7
*.background:  [70]#1c262b
*.cursorColor: #e8e9ed
!
! Black
*.color0:      #000000
*.color8:      #777777
!
! Red
*.color1:      #ee2b2a
*.color9:      #dc5c60
!
! Green
*.color2:      #40a33f
*.color10:     #70be71
!
! Yellow
*.color3:      #ffea2e
*.color11:     #fff163
!
! Blue
*.color4:      #1e80f0
*.color12:     #54a4f3
!
! Magent
*.color5:      #8800a0
*.color13:     #aa4dbc
!
! Cyan
*.color6:      #16afca
*.color14:     #42c7da
!
! White
*.color7:      #d4d4d4
*.color15:     #ffffff
!! Bold, Italic, Underline
URxvt.colorBD:     #ffea2e
URxvt.colorIT:	   #aa4dbc
URxvt.colorUL:	   #ee2b2a

! rofi settings
rofi.modi:			run
rofi.width:			100
rofi.padding:		500
rofi.opacity:		60
rofi.lines:			5
rofi.font:			mono 14
rofi.bw:			0

rofi.color-enabled:	true
! state				bg		fg		bgalt	hlbg	hlfg
rofi.color-normal:	#1c262b,#c2c8d7,#1c262b,#ffea2e,#1c262b
rofi.color-active:	#1c262b,#ffea2e,#1c262b,#fff163,#c2c8d7
rofi.color-urgent:	#1c262b,#ee2b2a,#1c262b,#dc5c60,#c2c8d7
!					bg		border	separator
rofi.color-window:	#801c262b,#c2c8d7,#b3b8c3
